form {display: inline;}

input {display: inline;}

body {
  background: linear-gradient(to left top, #4e167d, #ffdcce) fixed;
}

/*#nav {
    background: linear-gradient(rgba(0, 0, 0, 0.4), transparent);
}
*/

/*#nav {
  background: linear-gradient(to right left, #ffdcce, #4e167d) fixed;
}*/

#nav {opacity: .7;}

/*#login input {width: 500px;}
*/

#catGif {
        height: 18px;

        }

#fragment {
        height: auto;
}

.table {
    display: table;
}

.table-row {
    display: table-row;
}

.container-t {
    height: 580px;
}

.header {
/*    background: cyan;
*/}

.body {
/*    background: yellow;
*/    height: 100%;
}

.body-content-wrapper {
    width: 100%;
    height: 100%;
    position: relative;
}

.body-content {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: auto;
}