<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>

    <h1>{{ song.song_title }}</h1>
    <h2>{{ song.song_artist }}</h2>

    <p>
        <table border="1">
            <tr>
                <th>Song Fragment</th>
                <th>Annotation</th>

            </tr>
        {% for annotation in song.annotations %}
            <tr>
                <td>{{ annotation.song_fragment }}</td>
                <td>{{ annotation.annotation }}</td>
            </tr>

        {% endfor %}
        </table>
    </p>

</body>
</html>