<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>

<p>List from query:</p>
<p>q = db.session.query(Annotation).filter(Annotation.user_id==1).all()</p>
<p>{{ q }}</p>
<p>For loop over objects to get attributes:</p>
<ul>
{% for annotation in q %}
    <li>User ID: {{ annotation.user_id }}</li>
    <li>Song Fragment: {{ annotation.song_fragment }}</li>
    <li>Annotation: {{ annotation.annotation }}</li>
    <li>YouTube: <a href={{ annotation.song.video_url }}>video</a></li>
{% endfor %}
</ul>

<!-- get annotation from user -->
<form action="/test-input" method="POST">
    Fragment <input type='text' name='fragment'><br>
    Annotation <input type='text' name='annotation'><br>
    <input type='submit' value='Save'>
</form>

</body>
</html>