{% extends 'base.html' %}

{% block title %}User Registration{% endblock %}

{% block content %}
<nav id="nav" class="navbar sticky-top navbar-light bg-light justify-content-start">
    <div id="note">
        <a class="navbar-brand" href="/"><span id="logo">♫✍</span> <b>Note</b>
            <br>
        <span id="slogan">Lyrics Annotator</span>
        </a> 
    </div> |
    <a class="nav-link" href="/">Annotated Songs</a> |
    <a class="nav-link" href="/">Account</a>
</nav>
<div class="container">
    <br>
    <br>
    <br>
    <br>
    <div class="row justify-content-center">
        <div class="col-lg-6">
            <div id="note">
                <a class="navbar-brand" href="/"><span id="logo">♫✍</span> <b>Note</b>
            <br>
            <span id="slogan">Lyrics Annotator</span>
                </a> 
            </div>
            <br>
            <form id="login" action="/user" method="POST">
                <div class="form-group">
                    <label for="name">Name</label>
                    <input id="name" type="text" name="name" class="form-control">
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input id="email" type="text" name="email" class="form-control">
                </div>
                <button type="submit" class="btn btn-primary">Login</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}