{% extends 'base.html' %}

{% block title %}Annotations{% endblock %}

{% block content %}
    <h1>{{ user.name }}'s Annotations</h1>

    <p>
        <table border="1">
            <tr>
                <th>Song</th>
                <th>Artist</th>
                <th>Fragment</th>
                <th>Annotation</th>
            </tr>
        {% for annotation in annotations %}
            <tr>
                <td><a href="/results?q=
                    {{annotation.song.song_title }}
                    {{ annotation.song.song_artist }}">
                {{ annotation.song.song_title }}</a></td>
                <td>{{ annotation.song.song_artist }}</td>
                <td>{{ annotation.song_fragment }}</td>
                <td>{{ annotation.annotation }}</td>
            </tr>

        {% endfor %}
        </table>
    </p>

{% endblock %}