{% extends 'base.html' %}

{% block title %}Annotations{% endblock %}

{% block content %}
<div id="annos-by-user">
    <h1>{{ user.name }}'s Annotations</h1>
        <table border="1">
            <tr>
                <th>Song</th>
                <th>Fragment</th>
                <th>Annotation</th>
            </tr>
        {% for annotation in annotations %}
            <tr>
                <td><a class="song-link" href="/">
                    {{annotation.song.song_title }} - 
                    {{ annotation.song.song_artist }}</a>
                </td>
                <td>{{ annotation.song_fragment }}</td>
                <td>{{ annotation.annotation }}</td>
            </tr>

        {% endfor %}
        </table>
</div>

{% endblock %}